@charset "UTF-8";
@font-face {
  font-family: "Noto Sans JP";
  font-weight: normal;
  src: local("Noto Sans JP Regular"), url("../fonts/NotoSansJP-Regular.otf");
  unicode-range: U+0-7F, U+3040-30FF, U+4EEE, U+540D, U+5148, U+751F, U+4E94, U+5341, U+97F3, U+65E5, U+591C; }
@font-face {
  font-family: "Noto Sans JP";
  font-weight: bold;
  src: local("Noto Sans JP Bold"), url("../fonts/NotoSansJP-Bold.otf");
  unicode-range: U+0-7F, U+3040-30FF, U+4EEE, U+540D, U+5148, U+751F, U+4E94, U+5341, U+97F3, U+65E5, U+591C; }
body {
  padding: 10px 0;
  font: 1em "Noto Sans JP", sans-serif;
  text-align: center; }

body.light {
  background: white;
  color: black; }
  body.light a:hover {
    color: #666666; }
  body.light #github .light {
    display: none; }

body.dark {
  background: black;
  color: white; }
  body.dark a:hover {
    color: #cccccc; }
  body.dark #github .dark {
    display: none; }

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold; }

h1, div, table {
  margin: 30px 0; }

#title {
  font-size: 8em; }

#toolbar {
  font-size: 1.6em; }
  #toolbar .bullet {
    margin: 0 10px; }
  #toolbar .bullet::before {
    content: "⁕"; }
  #toolbar #github img {
    width: 28px;
    height: 28px;
    vertical-align: text-bottom; }

#gojuuon {
  display: inline-block;
  font-size: 2.2em; }
  #gojuuon th, #gojuuon td {
    width: 1.2em; }
  #gojuuon th {
    font-size: 0.6em; }
  #gojuuon td {
    font-weight: bold; }

#kana {
  line-height: 1em;
  overflow: hidden;
  font-size: 22em; }

#output {
  font-size: 1.6em;
  font-weight: bold; }

#output.success {
  color: #2D7; }
  #output.success::before {
    content: "✔ ";
    font-size: 1.2em; }

#output.failure {
  color: #E26; }
  #output.failure::before {
    content: "✘ ";
    font-size: 1.2em; }
