@font-face {
  font-family: "Raleway";
  font-weight: normal;
  src: url("font/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("font/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Noto Sans CJK JP";
  font-weight: normal;
  src: url("font/NotoSansCJKjp-Regular.otf");
}

body {
  padding: 20px;
  text-align: center;
  font-family: "Raleway", "Noto Sans CJK JP", sans-serif;
}

a {
  color: inherit;
  font-weight: bold;
}

h1 {
  margin: 0px;
  font-size: 8em;
}

#toolbar {
  margin-top: 30px;
  font-size: 1.6em;
}

#toolbar a {
  text-decoration: inherit;
}

#kana {
  margin: 0px;
  font-size: 22em;
  line-height: 1.2em;
}

#output {
  height: 20px;
  font-size: 1.4em;
  font-weight: bold;
}

#output.success {
  color: #3D9;
}

#output.success::before {
  margin-right: 5px;
  content: "✔";
  font-size: 1.2em;
}

#output.failure {
  color: #E26;
}

#output.failure::before {
  margin-right: 5px;
  content: "✘";
  font-size: 1.2em;
}

#about {
  margin-top: 60px;
  font-size: 1.2em;
}

.translation {
  font-size: 0.8em;
}

.translation span {
  display: inline-block;
  width: 12em;
  vertical-align: middle;
}

.translation span.left {
  text-align: right;
}

.translation span.right {
  text-align: left;
}
