body {
  padding: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  font-weight: bold;
}

h1 {
  margin: 0px;
  font-size: 8em;
}

#toolbar {
  margin-top: 30px;
  font-size: 1.6em;
}

#toolbar a {
  text-decoration: inherit;
}

#kana {
  margin: 0px;
  font-size: 20em;
}

#output {
  height: 20px;
  font-weight: bold;
}

#output.success {
  color: #2B7;
}

#output.success::before {
  margin-right: 5px;
  content: "✔";
  font-size: 1.2em;
}

#output.failure {
  color: #E26;
}

#output.failure::before {
  margin-right: 5px;
  content: "✘";
  font-size: 1.2em;
}

#about {
  margin-top: 60px;
  font-size: 1.2em;
}

.left, .right {
  display: inline-block;
  width: 12em;
  font-size: 0.8em;
  vertical-align: middle;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
