@import "fonts";

$font-list:   "Raleway", "Noto Sans CJK JP", sans-serif;

$color-background-light: white;
$color-background-dark:  black;
$color-text-light:       black;
$color-text-dark:        white;
$color-green:            #2D7;
$color-red:              #E26;

$text-smaller:  0.6em;
$text-small:    0.8em;
$text-big:      1.2em;
$text-bigger:   1.6em;
$text-biggest:  2.2em;
$text-huge:     8em;
$text-enormous: 22em;

body {
  font: 1em $font-list;
  text-align: center;

  h1, div, table {
    margin: 40px 0px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
  }

  .bullet::before {
    content: "•";
  }

  .equals::before {
    content: "=";
  }
}

body.light {
  background: $color-background-light;
  color: $color-text-light;

  a:hover {
    color: lighten($color-text-light, 20%);
  }

  #ribbon .light {
    display: none;
  }
}

body.dark {
  background: $color-background-dark;
  color: $color-text-dark;

  a:hover {
    color: darken($color-text-dark, 20%);
  }

  #ribbon .dark {
    display: none;
  }
}

#title {
  font-size: $text-huge;
}

#toolbar {
  font-size: $text-bigger;
}

#gojuuon {
  display: inline;
  font-size: $text-biggest;

  th, td {
    width: 1.2em;
  }

  th {
    font-size: $text-smaller;
    font-style: italic;
  }

  td {
    font-weight: bold;
  }
}

#kana {
  font-size: $text-enormous;
  line-height: 1em;
}

#output {
  font-size: $text-bigger;
  font-weight: bold;
}

#output.success {
  color: $color-green;

  &::before {
    content: "✔ ";
    font-size: $text-big;
  }
}

#output.failure {
  color: $color-red;

  &::before {
    content: "✘ ";
    font-size: $text-big;
  }
}

#about {
  font-size: $text-big;

  .translation {
    font-size: $text-small;

    .left, .right {
      display: inline-block;
      vertical-align: middle;
      width: 10em;
    }

    .left {
      text-align: right;
    }

    .right {
      text-align: left;
    }
  }
}
