@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("fonts/Raleway-Bold.ttf"); }

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url("fonts/Raleway-Italic.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Raleway-BoldItalic.ttf"); }

@font-face {
  font-family: "Noto Sans CJK JP";
  src: url("fonts/NotoSansCJKjp-Regular.otf"); }

@font-face {
  font-family: "Noto Sans CJK JP";
  font-weight: bold;
  src: url("fonts/NotoSansCJKjp-Bold.otf"); }

body {
  font: 1em "Raleway", "Noto Sans CJK JP", sans-serif;
  text-align: center; }
  body h1, body div, body table {
    margin: 40px 0px; }
  body a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold; }
  body .bullet::before {
    content: "•"; }
  body .equals::before {
    content: "="; }

body.light {
  background: white;
  color: black; }
  body.light a:hover {
    color: #333333; }
  body.light #ribbon .light {
    display: none; }

body.dark {
  background: black;
  color: white; }
  body.dark a:hover {
    color: #cccccc; }
  body.dark #ribbon .dark {
    display: none; }

#title {
  font-size: 8em; }

#toolbar {
  font-size: 1.6em; }

#gojuuon {
  display: inline;
  font-size: 2.2em; }
  #gojuuon th, #gojuuon td {
    width: 1.2em; }
  #gojuuon th {
    font-size: 0.6em;
    font-style: italic; }
  #gojuuon td {
    font-weight: bold; }

#kana {
  font-size: 22em;
  line-height: 1em; }

#output {
  font-size: 1.6em;
  font-weight: bold; }

#output.success {
  color: #2D7; }
  #output.success::before {
    content: "✔ ";
    font-size: 1.2em; }

#output.failure {
  color: #E26; }
  #output.failure::before {
    content: "✘ ";
    font-size: 1.2em; }

#about {
  font-size: 1.2em; }
  #about .translation {
    font-size: 0.8em; }
    #about .translation .left, #about .translation .right {
      display: inline-block;
      vertical-align: middle;
      width: 10em; }
    #about .translation .left {
      text-align: right; }
    #about .translation .right {
      text-align: left; }
